@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    font-family: "Cinzel", serif;
}

.card {
    margin-top: 20px;
    box-shadow: 2px 2px #0000004f;
}

#settings {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#settings > div:first-of-type {
    display: inline-flex;
    justify-content: center;
}

#settings > div:first-of-type > div:not(:last-of-type) {
    margin-right: 20px;
}

.custom-control-label::before, .custom-control-label::after {
    top: 0.35rem;
}

#numRange {
    margin-top: 20px;
}

#finalScore {
    font-size: 12px;
    font-weight: bold;
}

#inputContainer {
    position: relative;
    display: inline-flex;
    border: 1px solid #dedede;
    border-radius: 20px;
    overflow: hidden;
}

#inputContainer > * {
    background-color: transparent;
}

#inputContainer > div {
    background-color: #dedede;
    min-width: 40px;
}

#inputContainer > div::after {
    display: block;
    position: relative;
    top: 20%;
}

#inputContainer[data-correct=true] > div::after {
    content: "✔️";
}

#inputContainer[data-correct=false] > div::after {
    content: "❌";
}

#inputContainer > input {
    border: 0;
}

#inputContainer[data-correct=true] {
    background-color: #c5f3c578;
}

#inputContainer[data-correct=false] {
    background-color: #f3c5c578;
}

#inputContainer > input:focus {
    box-shadow: none;
}